<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="conatiner">
        <div class="row">
          <div class="col-sm-11">
            <h2>
              <b>Patients</b>
            </h2>
          </div>
          <div class="col-sm-1" style=" padding-left: 30px;">
            <button
              title="Add Patient"
              type="button"
              class="btn btn-info add-new create-button"
              (click)="openCreationForm()">
              <i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Identity</th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td> <p>{{ patient.identity }}</p></td>
          <td>
            <p>{{ patient.firstName + ' ' + patient.fatherName+ ' ' +
              patient.grandFatherName + ' ' + patient.familyName }}</p>
          </td>
          <td>{{ patient.age }}</td>
          <td><p>{{ patient.address }}</p></td>
          <td>
            <a (click)="openModificationForm(patient.id)" class="view"
              title="View" data-toggle="tooltip">
              <i class="material-icons" style="cursor: pointer;">&#xE417;</i>
            </a>
            <a (click)="openModificationForm(patient.id)" class="edit"
              title="Edit" data-toggle="tooltip">
              <i class="material-icons" style="cursor: pointer;">&#xE254;</i>
            </a>
            <a (click)="openDailog(content, patient.id)" class="delete"
              style="cursor: pointer;" title="Delete" data-toggle="tooltip">
              <i class="material-icons">&#xE872;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator aria-label="Select page"
    [length]="this.totalResult" [pageSize]="50" (page)="next($event)">  </mat-paginator>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Patient</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this patient?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="deletePatient()">Yes</button>
    <button type="button" class="btn btn btn-danger"
      (click)="d('Cross click')">No</button>
  </div>
</ng-template>
