body{
  color: #5f5f5f;
}
.offcanvas-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  background: #5F5FCB;
  color: whitesmoke;
}
.offcanvas-body
{
  background-color: ghostwhite;
}
.form
{
  box-sizing: content-box;
  background-color: #a9a9a914;
  margin: 0 2%;
  padding: 2%;
  border: 1px #b8b8c9 solid;
  border-radius: 5px;
}
.form-title
{
  margin: 0 2%;
  margin-top: 3%;
  box-sizing: content-box;
  border-radius: 5px;
  display: inline-block;
  font-size: larger;
}
.form-title p
{
  display: inline-block;
  border-bottom: 3px #5F5FCB solid;
  color: #656363;
  font-size: larger;
}
