<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">NRRT</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body px-0 ">
    <div>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
      id="menu">
      <li (click)="navigate('patients')">
        <a data-bs-toggle="collapse" class="nav-link text-truncate">
          <i class="bi bi-people" style="font-size: 24px;"></i><span class="ms-1 d-none d-sm-inline">Patients</span>
        </a>
      </li>
      <li (click)="navigate('Vistis')">
        <a class="nav-link text-truncate">
          <i class="bi bi-clipboard-pulse" style="font-size: 24px;"></i>
          <span class="ms-1 d-none d-sm-inline">Patients Vistis</span></a>
      </li>
      <li (click)="navigate('Vistis')">
        <a class="nav-link text-truncate">
          <i class="bi bi-clock-history" style="font-size: 24px;"></i>
          <span class="ms-1 d-none d-sm-inline">Patients History</span>
        </a>
      </li>
    </ul>
    </div>
  </div>
</ng-template>

<nav class="navbar navbar-dark" style="background:#3f51b5;">
  <button class="navbar-toggler" style="margin-left: 1%;" (click)="open(content)" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<router-outlet></router-outlet>
