<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title"> </h4>
    <button type="button" class="btn-close" style="background-color: white;"
      (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body px-0">
    <mat-list>
      <mat-list-item (click)="navigate(0)">
        <mat-icon>people_outline</mat-icon>
        <p> Patients </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="navigate(1)">
        <mat-icon> transfer_within_a_station</mat-icon>
        <p> Patients Vistis</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="navigate(2)">
        <mat-icon aria-hidden="false" aria-label>history</mat-icon>
        <p>Patients History</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="navigate(3)">
          <mat-icon aria-hidden="false" aria-label>logout</mat-icon>
          <p>Logout</p></mat-list-item>
    </mat-list>
  </div>
</ng-template>

<p  *ngIf="isLogin" style="margin-bottom: 0.5px;">
  <mat-toolbar color="primary">
    <button (click)="open(content)" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Nephrology Rapid Response Team</span>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
