<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
</body>
</html>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">NRRT</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body px-0 ">
    <div>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
      id="menu">
      <li>
        <a data-bs-toggle="collapse" class="nav-link text-truncate">
          <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Patients</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-truncate">
          <i class="bi bi-list"></i>
          <span class="ms-1 d-none d-sm-inline">Patients Movements</span></a>
      </li>
      <li>
        <a class="nav-link text-truncate">
          <i class="fs-5 bi-people"></i>
          <span class="ms-1 d-none d-sm-inline">PatientsHistory</span>
        </a>
      </li>
    </ul>
    </div>
  </div>
</ng-template>
<nav class="navbar navbar-dark" style="background:#5F5FCB;">
  <button class="navbar-toggler" style="margin-left: 1%;" (click)="open(content)" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<router-outlet></router-outlet>
